{%extends 'base.html'%}
{%block body%}
<div class="container" style="margin-top: 80px;">
	<a href="{{url_for('account',username=current_user.username)}}" class="btn btn-warning btn-xs">Back</a>
		<h1>Tweak your post a lil</h1>
	<form action="" method="post">
		{{form.hidden_tag()}}
		<p>
			{{form.title.label}}{{form.title(class="form-control")}}
		</p>
			<p>
				{{form.post.label}}{{form.post(class="form-control")}}
			</p>
			<br>
			<p>
				{{form.submit(class="btn btn-primary btn-md")}}
			</p>
	</form>
	</div>
</div>
{%endblock body%}